body {
	background: white;
	border: none;
}
#menu {
	display:none;
}
div>a {display:none;}

img {
	display: none;
}

footer {
	display: none;
}

#wrapper, #content {
	width: auto;
	border: none;
	text-align: left;
	color: black;

}

.resume {
	border:none;
}